<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container">
<h1>Best performing stock and the time period between May 2004 to May 2014</h1>
<div class="chart">
  <%= column_chart Result.group(:symbol).sum(:profit) %>
</div>
<table class="table-bordered">
  <thead>
  <tr>
  <th class="row-head">Stock Name</th>
  <th class="row-head">Time Period</th>
  <th class="row-head">Gain(%)</th>
  </tr>
  </thead>
  <tbody>
  <% @results.each do |result| %>
    <tr>
    <td class="row-column"><%= result.name %></td>
    <td class="row-column"><%= result.min %> to <%= result.max%></td>
    <td class="row-column"><%= result.profit.round %>%</td>
    </tr>
  </tbody>
<% end %>
</table>
</div>
